<mat-toolbar *ngIf="!isLoadingResults">
    <mat-toolbar-row>
        <span i18n>List of users</span>
        <span class="mat-toolbar-row-spacer"></span>
        <span>
            <button 
                mat-button
                (click)="openDialog(null)">
                <mat-icon>add</mat-icon>
                <span i18n="@@addNewButton">Add new</span>
              </button>
        </span>
    </mat-toolbar-row>
</mat-toolbar>

<!-- Search input field - begin -->
<table width="100%">
    <tr>
        <td width="100%">
            <mat-form-field class="input-search">
                <mat-label i18n>Search by keyword</mat-label>
                <mat-icon style="margin-right: 5px;" matPrefix>search</mat-icon>
                <input matInput type="text" autocomplete="off" [(ngModel)]="inputKeywordValue" (keyup)="onKeySearch($event)">
                <button mat-button *ngIf="inputKeywordValue" matSuffix mat-icon-button aria-label="Clear" (click)="onKeySearchCleaned($event)">
                <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </td>
        <td>
            <mat-form-field style="width: 170px; padding-left: 5px;">
                <mat-label i18n>User role</mat-label>
                <mat-select [(ngModel)]="inputUserRoleValue" (selectionChange)="onUserRoleChange($event)">
                  <mat-option [value]="0" i18n>All</mat-option>
                  <mat-option *ngFor="let ur of userRoles" [value]="ur">
                    {{getNameOfUserRole(ur)}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
        </td>
    </tr>
</table>
<!-- Search input field - end -->

<!-- Data table - begin -->
<div class="main-table-container">
    <table mat-table [dataSource]="data" class="main-table"
        matSort matSortActive="name" matSortDisableClear matSortDirection="asc">
    
    <!-- Default/standard table - begin -->
    <ng-container matColumnDef="roleId">
        <th mat-header-cell *matHeaderCellDef i18n="@@userRoleLabel">User Role</th>
        <td mat-cell *matCellDef="let row">{{getUserRole(row.roleId)}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef i18n>Name</th>
        <td mat-cell *matCellDef="let row">{{row.firstName}} {{row.lastName}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef i18n>Email</th>
        <td mat-cell *matCellDef="let row">{{row.email}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef i18n="@@actionsTableColumn" class="column-actions">Actions</th>
        <td mat-cell *matCellDef="let row">
            <button mat-stroked-button color="primary" (click)="openDialog(row.id)" i18n="@@editButton">Edit</button>
        </td>
    </ng-container>
    <!-- Default/standard table - end -->
    
    <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
    <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>
    </table>
</div>

<mat-paginator [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>
<!-- Data table - end-->