<mat-toolbar>
    <mat-toolbar-row>
        <span>
            {{title}}
        </span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content [formGroup]="form">
    <div class="form-group">
        <input  name="image"
                type="file"
                accept="{{acceptedFileExtensions}}"
                (change)="onSelectedFile($event)">
        <mat-error *ngIf="image.invalid" i18n="@@mustChooseFile">You must choose a file.</mat-error>
        <mat-error *ngIf="!isFileExtensionAllowed" i18n="@@fileExtensionNotAllowed">The file extension is not allowed.</mat-error>
    </div>
    <div class="progress form-group" *ngIf="progress > 0">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress">
        </div>
    </div>
</mat-dialog-content>

<mat-toolbar>
    <mat-toolbar-row>
        <span>
            <button mat-raised-button (click)="close()" [disabled]="btnIsDisabled" i18n="@@closeButton">Close</button>
        </span>
        <span class="mat-toolbar-row-spacer"></span>
        <span>
            <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="btnIsDisabled || !form.valid || !isFileExtensionAllowed" i18n="@@saveButton">Save</button>
        </span>
    </mat-toolbar-row>
</mat-toolbar>