.vs/
Diagrams/
dockerfiles/
*.Schema/
*.UnitTests/
Licensing/
PowerShell/
*/Assets/
*/Scripts/
Support/
*.sln
*/*.txt
*/obj/
*/bin/

.DS_Store
README.md
Dockerfile
.dockerdev-env
.dockerignore
.git
.gitignore

UpdateTranslations/
node_modules/
