<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="Aide-Core-Packages-Feed" value="https://pkgs.dev.azure.com/aideguru/_packaging/Aide-Core-Packages-Feed/nuget/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
      <Aide-Core-Packages-Feed>
        <add key="Username" value="PAT" />
        <add key="ClearTextPassword" value="yakgkpilcge7qf54mleagxlife7japl2uwlxgbnrgsjkmk5jvadq" />
      </Aide-Core-Packages-Feed>
    </packageSourceCredentials>
</configuration>