<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="Aide-Core-Packages-Feed" value="{{Aide-Core-Packages-Feed}}" />
    </packageSources>
    <packageSourceCredentials>
      <Aide-Core-Packages-Feed>
        <add key="Username" value="PAT" />
        <add key="ClearTextPassword" value="{{ClearTextPassword}}" />
      </Aide-Core-Packages-Feed>
    </packageSourceCredentials>
</configuration>