<!-- <div style="text-align: right; font-size: small; padding: 15px; display: inline-flex; vertical-align: middle;"> -->
    <!-- <mat-icon>account_circle</mat-icon><b>Demo user</b>&nbsp;|&nbsp;<a href="#" i18n>Logout</a> -->

    <!-- <a mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
        <span><b>Demo user</b></span>
    </a>
    <mat-menu #menu="matMenu">
        <a mat-menu-item href="\en">
            <span>English</span>
        </a>
        <a mat-menu-item href="\es">
            <span>Español</span>
        </a>
        <a mat-menu-item>
            <span i18n>Logout</span>
        </a>
    </mat-menu> -->

    <!-- <br>
    <a href="\">English</a>&nbsp;|&nbsp;<a href="\es">Español</a> -->
<!-- </div> -->