<mat-toolbar>
    <mat-toolbar-row>
        <span>{{_title}}</span>
    </mat-toolbar-row>
</mat-toolbar>
<div class="main-table-container">
    <mat-table [dataSource]="_claimDocuments" class="main-table">

        <!-- Sort Priority Column -->
        <ng-container matColumnDef="sortPriority">
            <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.sortPriority}}</mat-cell>
        </ng-container>

        <!-- DocumentTypeName Column -->
        <ng-container matColumnDef="documentType.name">
            <mat-header-cell *matHeaderCellDef i18n>Document</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-chip-list style="padding-right: 10px;" *ngIf="row.statusId == 40">
                    <mat-chip color="secondary" selected>
                        <mat-icon>done</mat-icon>
                        <span i18n *ngIf="!_isPhoneDevice">Completed</span>
                    </mat-chip>
                </mat-chip-list>
                {{row.documentType.name}}
                &nbsp;
                <span style="padding-right: 5px;" *ngIf="row.statusId == 40">
                    [<a href="{{row.document.url}}" target="_blank" i18n>View</a>]
                </span>
            </mat-cell>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef i18n>Action</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-stroked-button color="primary" *ngIf="_isAllowedToEditOrder"
                    (click)="openDialog(row.documentType.name, row.documentTypeId, true, row.sortPriority, row.groupId, row.documentType.acceptedFileExtensions)">
                        <mat-icon>cloud_upload</mat-icon>
                        <span i18n="@@uploadButton" *ngIf="!_isPhoneDevice" style="padding-left: 5px; padding-right: 10px;">Upload</span>
                    </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="getDisplayedColumns()" style="display: none"></mat-header-row>
        <mat-row *matRowDef="let row; columns: getDisplayedColumns();"></mat-row>
    </mat-table>
</div>
