<!-- <div class="btn-group-vertical" role="group" aria-label="Button group with nested dropdown">
    <button type="button" class="btn btn-link" [routerLink]="['/claim']">
        <mat-icon>add_circle</mat-icon>
    </button>
    <button type="button" class="btn btn-link" [routerLink]="['/dashboard/dashboard1']">
        <mat-icon>home</mat-icon>
    </button>
    
    <button type="button" class="btn btn-link" [routerLink]="['/admin/devices']" [disabled]="true">
        <mat-icon>devices</mat-icon>
    </button>
    <button type="button" class="btn btn-link" [routerLink]="['/admin/companies']" [disabled]="true">
        <mat-icon>directions_car</mat-icon>
    </button>
    <button type="button" class="btn btn-link" [routerLink]="['/admin/documents']" [disabled]="true">
        <mat-icon>folder</mat-icon>
    </button>
</div> -->